@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  /* animation: show 1s both; */
}

.logo {
  text-decoration: none;
  color: black;
  user-select: none;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ALL FORMS STYLES */
.form {
  margin: 40px auto;
  padding: 3rem 1.5rem;
  max-width: 1000px;

  .form__title {
    font-size: 2rem;
    font-weight: bold;
  }

  .form__submit {
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    border: none;

    &:hover {
      background-color: #2c2b2b;
      cursor: pointer;
    }
  }

  .form__inputs {
    margin: 2rem 0 1.5rem;
    display: grid;
    gap: 1.25rem;
    color: #6b6b6b;

    .form__label {
      width: 100%;
      display: grid;
      grid-template-areas: 'input';

      .form__input {
        grid-area: input;
        border-radius: 10px;
        border: 1px solid #d7d0d0;
        padding: 0.7rem 1.5rem;
        color: #6b6b6b;

        &:is(:focus, :not(:placeholder-shown)) {
          + .form__text {
            background-color: white;
            transform: translateY(-50%) scale(0.7);
          }
        }
      }

      .form__text {
        grid-area: input;
        z-index: 99;
        width: max-content;
        height: 100%;
        margin-left: 1rem;
        padding: 0 0.25rem;
        display: flex;
        align-items: center;
        transform-origin: left center;
        transition: transform 0.3s;
      }

      .form__textarea {
        height: 50%;
      }

      .form__input-textarea {
        min-height: 100px;
        resize: none;
      }

      .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: none;
      }
    }
  }
}

.button-black {
  background-color: black;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 24px;

  &:hover {
    scale: 103%;
  }
}
