.brands-section {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 150px;
      min-width: 50px;
      aspect-ratio: 16 / 9;
    }
  }
}
