.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 0 40px;
  margin-bottom: 10px;
  font-weight: bold;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    img {
      width: 200px;
      height: 200px;
      aspect-ratio: 1 / 1;
    }
    .price {
      span {
        &:first-child {
          opacity: 75%;
          text-decoration: line-through;
        }
        color: black;
      }
    }
    &:hover {
      cursor: pointer;
      img {
        scale: 105%;
      }
    }
  }

  .cards-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
    span {
      font-size: 5em;
      &:first-child {
        font-size: 10em;
        font-family: 'Poppins-Bold';
        opacity: 15%;
        position: absolute;
        z-index: -1;
        letter-spacing: 25px;
      }
    }
  }
}
