.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 0 40px;
  font-weight: bold;
  max-width: 1920px;
  margin: 0 auto;

  .cards-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;

    span {
      font-size: 5em;

      &:first-child {
        font-size: 10em;
        font-family: 'Poppins-Bold';
        opacity: 15%;
        position: absolute;
        z-index: -1;
        letter-spacing: 15px;
      }
    }
  }

  .cards__featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
  }

  .card {
    width: 15em;
  }

  .btn-products {
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    transition: scale 150ms ease-in, background-color 150ms ease-in;

    &:hover {
      background-color: #555555;
      scale: 103%;
    }
  }
}

@media (max-width: 1000px) {
  .cards-section {
    .cards-presentation {
      span {
        font-size: 2.5em;

        &:first-child {
          font-size: 3.5em;
          letter-spacing: 10px;
        }
      }
    }

    .cards__featured {
      place-items: center;
    }
  }
}
