.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding-block: 20px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  z-index: 99;

  .logo {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
    transition: color 150ms ease-in;

    &:hover {
      color: #848d97;
      cursor: pointer;
    }
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      i {
        font-size: 1.5rem;
        color: #848d97;
        cursor: pointer;
        transition: color 150ms ease-in;
      }

      .bi-whatsapp {
        &:hover {
          color: #25d366;
        }
      }

      .bi-twitter-x,
      .bi-github {
        &:hover {
          color: white;
        }
      }

      .bi-facebook {
        &:hover {
          color: #405de6;
        }
      }

      .bi-instagram {
        &:hover {
          color: #c13584;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.75em;
    color: gray;
  }

  .legal_links {
    text-align: center;
    width: 100%;

    a {
      font-size: 0.75em;
      color: gray;
      text-decoration: none;
      margin-inline: 20px;

      &:hover {
        color: #f3f3f3;
      }
    }
  }
}
