.form__sneaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;

  input:disabled {
    background-color: #fff;
  }

  .form__back {
    & > a {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 10%;
    }
  }
}
