.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f1f1f1;
  padding: 0 40px 0 40px;
  max-width: 1920px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 1315px;
    max-width: 100%;

    span {
      position: absolute;
      font-family: 'Poppins-Bold';
      width: max-content;
      font-size: 1.5em;

      &:nth-child(1) {
        z-index: 1;
        left: 15%;
        font-size: 10em;
      }

      &:nth-child(2) {
        left: 58%;
        font-size: 10em;
      }

      &:nth-child(3) {
        top: 38%;
        left: 62%;
      }

      &:nth-child(4) {
        left: 22%;
        top: 60%;
      }
    }

    img {
      margin-top: 10px;
      width: 550px;
      height: 550px;
      aspect-ratio: 1 / 1;
      transform: scaleX(-1);
      rotate: -5deg;
    }
  }
}

@media (max-width: 1000px) {
  .image-section {
    .row {
      img {
        width: 350px;
        height: 350px;
      }
    }

    div {
      span {
        font-size: 0.55em;
        z-index: 1;

        &:nth-child(1) {
          bottom: 35%;
          left: 35%;
          font-size: 4.5em;
        }

        &:nth-child(2) {
          top: 35%;
          left: 55%;
          font-size: 4.5em;
          z-index: 0;
        }

        &:nth-child(3) {
          left: 57.5%;
          top: 42%;
        }

        &:nth-child(4) {
          left: 38%;
          top: 57%;
        }
      }
    }
  }
}
