header {
  position: sticky;
  top: 0;
  z-index: 1000;

  .button-cart {
    transition: scale 150ms ease-in, background-color 150ms ease-in;
    border: none;
    font-weight: bold;
    border: none;

    color: black;
    background-color: transparent;
    font-size: 1.25em;

    &:hover {
      scale: 103%;
      color: #555555;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    div {
      max-width: 1920px;
    }

    .navbar-toggler {
      border: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .nav-link {
      color: black;
      font-weight: bold;
      transition: scale 150ms ease-in, background-color 150ms ease-in;

      &:hover {
        scale: 103%;
        color: #555555;
      }
    }

    .nav-btns {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
      }

      .login {
        background-color: black;
        color: white;
        border-radius: 12px;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          scale: 103%;
        }
      }
    }
  }
}

@media (width < 1000px) {
  .nav-btns {
    flex-direction: column;

    > button {
      display: none;
    }
  }
}
