.image-payment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px 100px 100px;
  max-width: 1400px;
  margin: 0 auto;

  div {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 40px 40px 40px 80px;

    span {
      text-wrap: pretty;

      &:nth-child(1) {
        width: 75%;
        font-size: 3em;
        font-weight: bold;
        padding-bottom: 16px;
      }

      &:nth-child(2) {
        padding: 16px;
        font-size: 2em;
        color: white;
        background-color: black;
      }
    }
  }

  img {
    position: relative;
    width: 400px;
    height: 400px;
    aspect-ratio: 1 / 1;
    right: 80px;
    z-index: -1;
  }
}

.methods-payment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  h3 {
    text-align: center;
  }

  p {
    text-wrap: pretty;
    margin: 0;
  }

  hr {
    width: 100%;
  }

  img {
    width: 175px;
    height: 75px;
    aspect-ratio: 16 / 9;
  }

  a {
    font-size: 0.75em;
  }

  .method-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    p {
      max-width: 1000px;
    }

    span {
      &:nth-child(1) {
        font-size: 1.25em;
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 0.75em;
        color: gray;
      }
    }
  }
}
