.payment-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-inline: 40px;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    flex: 1;

    img {
      width: 56px;
      height: 56px;
    }

    p {
      font-size: 0.75em;
      color: #585858;
      margin: 5px;
    }

    a {
      color: black;
      font-size: 0.75em;
    }
  }
}

@media (max-width: 1000px) {
  .payment-section {
    flex-direction: column;

    div {
      padding: 20px;
    }
  }
}
