.product-section {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;

  .img-product {
    margin: 0 88px;

    img {
      height: 550px;
      width: 550px;
      aspect-ratio: 1 / 1;
      transform: rotate(-25deg);
    }
  }

  .product-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
    z-index: 1;

    h1 {
      margin: 0;
    }

    .prices {
      font-size: 1.25em;
      margin: 0 0 8px;

      .prev-price {
        opacity: 75%;
        text-decoration: line-through;
      }

      .price {
        color: black;
        font-weight: bold;
      }
    }

    p {
      font-size: 16px;
      text-wrap: pretty;
      margin: 0 0 24px;
      max-width: 600px;
    }

    .btn-product {
      background-color: black;
      color: white;
      border-radius: 12px;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.25em;
      margin: 0 16px;
      transition: background-color 150ms ease-in, scale 150ms ease-in;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: #555555;
        scale: 103%;
      }
    }
  }
}

@media (max-width: 1050px) {
  .product-section {
    padding: 0 40px 40px;
    align-items: center;
    flex-direction: column;

    .img-product {
      margin: 0 40px 0 0;
      img {
        height: 350px;
        width: 350px;
      }
    }

    .product-body {
      margin: 0;
      align-items: center;
    }
  }
}
