.products-section {
  max-width: 1920px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  background-color: #fff;

  .product__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .form {
      .form__inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      width: 300px;
      padding: 0;
    }
    .products__new {
      display: flex;
      align-items: center;
      padding: 10px;

      .products__new-button {
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 8px 24px;
      }
    }
  }

  .products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    .card {
      border: none;
    }
  }
}
