.products-section {
  max-width: 1920px;
  padding: 20px 40px 40px;
  margin: 0 auto;
  background-color: #fff;

  .products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: none;
      text-decoration: none;

      img {
        width: 200px;
        height: 200px;
        aspect-ratio: 1 / 1;
      }

      .prices {
        .prev-price {
          opacity: 75%;
          text-decoration: line-through;
        }

        span {
          color: black;
        }
      }

      &:hover {
        cursor: pointer;

        img {
          scale: 105%;
        }
      }
    }
  }
}
