.form__register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .form__register-body {
    footer {
      span {
        text-align: center;
        display: block;
      }
    }
  }
}
