.sales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;

  .sales__history {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .dataTables_wrapper {
    padding: 0;
  }
}
